
.attendances_student {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    font-size: large;
    user-select: none;
}

.attendances_student main.attendances_student_table {
    
    width: 82vw;
    height: 87vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.attendances_student .attendances_student_table__header {
    width: 100%;
    height: 7%;
    background-color: #4a4ae4;
    padding: .8rem 1rem;

    display: flex;
    justify-content:space-around;
    align-items: center;
}
.attendances_student_table__header_handle{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-self: auto;
    line-height: 0;
}
.attendances_student_table__header_handle button{
    margin: 0 30px;
    padding: 0;
    height: auto;
    width: 100px;
    font-size: large;
    border-radius: 15px;
    cursor: pointer;
}
#start_check_join:hover{
    background-color: #4CAF50;
    color: white;
}
#stop_check_join{
    display: none;
}
#stop_check_join:hover{
    background-color: #F44336;
    color: white;
}
.attendances_student .attendances_student_table__header_handle h1{
    font-size: xx-large;
    font-weight: 700;
}
.attendances_student .attendances_student_table__header .input-group {
    width: 25%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    padding: 0 .8rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #377D6A;
    transition: .2s;
}
.attendances_student .attendances_student_table__header .input-group input {
    line-height: 10px;
    font-size: large;
    text-align: center;
    font-size: larger;
    background-color: white;
    color:#4a4ae4;
    &::-webkit-input-placeholder {
            color: #4a4ae4;
            text-indent: 0;
            font-weight: 300;
        }
}
.attendances_student .attendances_student_table__header .input-group img{
    border-left:2px solid #bbbbc4fe;
    padding-left: 10px;
    cursor: pointer;
}
#attendances_student_table__body_tableData{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.attendances_student .attendances_student_table__header .input-group:hover {
    width: 35%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .1rem .4rem #0002;
}

.attendances_student_table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.attendances_student_table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}
.attendances_student_table__header h1{
    color: white;
}

.attendances_student_table__body {
    width: 90%;
    /* max-height: calc(89% - 1.6rem); */
    background-color: #4a4ae4;
    max-height: 75%;
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: 20px;
    
    overflow: auto;
    overflow: overlay;
}

.attendances_student_table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.attendances_student_table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.attendances_student_table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

.attendances_student_table__body table {
    width: 100%;
}

.attendances_student_table__body td img {
    width: 100px;
    height: 80px;
    border-radius: 5%;

    vertical-align: middle;
}

.attendances_student_table__body table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.attendances_student_table__body thead th {
    font-size: 1,5rem;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #c2beccfe;
    cursor: pointer;
    text-transform: capitalize;
}
thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #4a4ae4;
}

thead th:hover {
    color: #4a4ae4;
}

thead th.active span.icon-arrow {
    background-color: #4a4ae4;
    color: #fff;
}

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active,
tbody td.active {
    color: #4a4ae4;
}

.attendances_student_table__body tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.attendances_student_table__body tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
    cursor: pointer;
    height: fit-content;
    border: 1px solid #d5d1defe;
}

.attendances_student_table__body tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

.attendances_student_table__body tbody tr:hover {
    background-color: #fff6 !important;
}

.attendances_student_table__body tbody tr td,
.attendances_student_table__body tbody tr td p,
.attendances_student_table__body tbody tr td img {
    transition: .2s ease-in-out;
    text-align: center;
}

.attendances_student_table__body tbody tr.hide td,
.attendances_student_table__body tbody tr.hide td {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

.attendances_student_table__body tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.attendances_student_table__body .status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.attendances_student_table__body .status.passed {
    background-color: #86e49d;
    color: #006b21;
}

.attendances_student_table__body .status.warnning {
    background-color: #d893a3;
    color: #b30021;
}

.attendances_student_table__body .status.decline {
    background-color: #ebc474;
}

.attendances_student_table__body .status.pending {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}





/* CSS for POp-up images*/

.container_gallery{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 2;
}

.container_gallery_wrapper {
    border-radius: 10px;
    max-width: 600px;
    max-height: auto;
    padding: 10px;
    margin: auto;
    border: white solid 5px;
    background-color: white;
    opacity: 1;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_gallery_wrapper_infor{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    user-select: none;
    background-color:#4a4ae4 ;
    position: relative;
}
.container_gallery_wrapper_infor div {
    padding: 5px;
    font-size: 1.3rem;
    color: white;
    font-weight: 1rem;
}
#container_gallery_exit_popup{
    user-select: none;
    color: white;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 2rem;
    cursor: pointer;
    width: 40px;    
    height: 40px;
    background-color: red;
    display: inline-block;
    position: absolute;
    top:-2.5%;
    right: -2.5%;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(100, 82, 82, 0.1);
        outline: none;
}
.container_gallery_wrapper .panel-main img,
.thumbs img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.container_gallery_wrapper .thumbs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.container_gallery_wrapper .container_gallery_wrapper_handle_image{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
.custom-btn {
    width: 100px;
    font-size: 1.2rem;
    height: 40px;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(100, 82, 82, 0.1);
    outline: none;
    border-radius: 5px;
    
}
.refuse_image {
    background: rgb(184, 118, 118);
    opacity:0,3;
    line-height: 42px;
    padding: 0;
    color: white;
    border: none;

}
.refuse_image:hover {
    color: white;
    background-color: red;
    opacity: 1;
    /* background: transparent; */
}
.approve_image {
    background: #6969d1;
    opacity: 0,3;
    line-height: 30px;
    padding: 0;
    border: none;
}

.approve_image:hover {
    color: white;
    background-color: #4a4ae4;
    opacity: 1;
    /* background: transparent; */
}

.container_gallery_note_wapper{
    --margin-line: #941c5a;
    --lines: #1d97b8;
    background-color: rgb(233, 233, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    border-radius: 20px;
    top: 20%;
    right: 15%;
    z-index: 10;

}
.container_gallery_note_wapper .paper {
    width: 320px;
    height: 145px;
    background-color: rgb(233, 233, 29);
    background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
    background-size: 100% 1.5em;
    position: relative;
    box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
    border-radius: 1em solid black;
    &:before,
    &:after {
        
        position: absolute;
        top: 0;
    }

    &:before {
        content: "";
        height: 100%;
        width: 2px;
        background-color: var(--margin-line);
        left: 1em;
        z-index: 2;
    }


    .holes {
        background-color: white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: block;
        z-index: 10;
        margin-left: 0em;
        margin-top: 1.8em;
        /* border: 1em solid black; */
    }
}

.container_gallery_note_wapper textarea {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Comic Sans";
    font-size: 1.5rem;
    line-height: 1;
    padding-left: 1rem;
    margin: 0;
    resize: none;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}


/* CSS for pagination */
.attendances_student_pagination {
    display: flex;
    float: right;
    align-items: right;
    justify-content: right;
    background: #4a4ae4;
    width: 100%;
    position: absolute;
    bottom: 0;

}
.pagination {
    margin-right: 60px;
}
.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(22, 20, 20, 0.333);
    margin: 10px;
}

.pagination ul li {
    color: #4a4ae4;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: 520;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #4a4ae4;
}


/* CSS for evidence */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.grab_lecture_view{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   text-transform: capitalize;
}
.grab_lecture_view{
   padding:20px;
}

.grab_lecture_view_container{
   /* max-width: ; */
   width: 82vw;
   height: 70vh;
   margin:100px auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap:20px;
   
}
.grab_lecture_view_container_part1{
   max-width: 900px;
   height: auto;
}

.grab_lecture_view_container .main-video-container{
   flex:1 1 350px;
   border-radius: 5px;
   /* box-shadow: 0 5px 15px rgba(0,0,0,.1); */
   max-width: 100%;
   height: auto;
   box-sizing: border-box;
   /* box-shadow: rgb(237,237,237) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
   background-color: #fff;
   padding:15px;
}
.grab_lecture_view_container .main-video-container .student-name{
   border: 1px solid rgb(193, 183, 183); 
   line-height: 0 ;
   box-shadow: rgb(237, 237, 237) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 5px;
   margin-bottom: 10px;
}
.grab_lecture_view_container .main-video-container .student-name h3{
   padding: 5px;
}
.grab_lecture_view_container .custom-bar{
   /* box-shadow: rgb(237,237,237) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
   background-color: #fff;
   padding:15px;
   border-radius: 5px;
   margin-top:20px;
}

.grab_lecture_view_container .main-video-container #main-video{
   margin-bottom: 7px;
   border-radius: 5px;
   width: 640px;
   height: 480px;
   /* width: 100%; */
}

.grab_lecture_view_container .main-video-container .main-vid-title{
   font-size: 20px;
   color:#444;
   line-height: 0;
}

.grab_lecture_view_container .warnning-list-container{
   flex:1 1 150px;
   /* position:relative; */
   height:auto;
   /* overflow-y: scroll; */
   border-radius: 5px;
   /* box-shadow: 0 5px 15px rgba(0,0,0,.1); */
   /* box-shadow: rgb(237,237,237) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
   background-color: #fff;
   padding:15px;
}

.warnning-list-title{
   position:sticky;
   top: 20;
   left: 20;
   border-radius: 5px;
    /* background-color: rgb(73, 73, 170); */
    background-color: #4a4ae4;
   padding: 10px;
   display: flex;
   justify-content: center;
   /* border-bottom: 2px solid black; */
}
.warnning-list-title h2{
    color: white;
}

.grab_lecture_view_container .warnning-list-container .warnning-list-detail::-webkit-scrollbar{
   max-width: 300px;
}

.grab_lecture_view_container .warnning-list-container .warnning-list-detail::-webkit-scrollbar-track{
   background-color: #fff;
   border-radius: 5px;
}

.grab_lecture_view_container .warnning-list-container .warnning-list-detail::-webkit-scrollbar-thumb{
   background-color: rgb(237,237,237);
   border-radius: 5px;
}
.warnning-list-detail{
   /* border: 1px solid rgb(184, 180, 180); */
   border-radius: 5px;
   overflow-y: scroll;
   flex:1 1 250px;
   height: 480px;
}

.grab_lecture_view_container .warnning-list-container .list{
   display: flex;
   align-items: center;
   gap:15px;
   padding:5px;
   background-color: #eee;
   cursor: pointer;
   border-radius: 5px;
   margin: 10px;
}

.grab_lecture_view_container .warnning-list-container .list:last-child{
   margin-bottom: 0;
}

.grab_lecture_view_container .warnning-list-container .list.active{
   background-color: coral;
}

.grab_lecture_view_container .warnning-list-container .list.active .list-title{
   color:#fff;
}

.grab_lecture_view_container .warnning-list-container .list .list-video{
   width: 100px;
   border-radius: 5px;
}

.grab_lecture_view_container .warnning-list-container .list .list-title{
   font-size: 17px;
   color:#444;
}





@media (max-width:400px){

   .grab_lecture_view_container{
      margin:0;
   }

}

@media (max-width:450px){

   .grab_lecture_view_container .main-video-container .main-vid-title{
      font-size: 15px;
      text-align: center;
   }

   .grab_lecture_view_container .warnning-list-container .list{
      flex-flow: column;
      gap:10px;
   }

   .grab_lecture_view_container .warnning-list-container .list .list-video{
      width: 100%;
   }

   .grab_lecture_view_container .warnning-list-container .list .list-title{
      font-size: 15px;
      text-align: center;
   }

}


.grab_lecture_view_container_part1 #progress-bar{
   width: 100%;
   height: 15px;
   position: relative;
   border: 1px solid #ddd;
   border-radius: 10px;
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
   margin-bottom: 10px;
   overflow: hidden;
   background-color: #f5f5f5;
   padding: 2px;
   /* background: linear-gradient(to right, #FF0000 0%-10%, white 100%); */

 }
 
 /* Thiết lập kiểu cho phần tiến trình */
.grab_lecture_view_container_part1 #progress-bar::-webkit-progress-value {
   background-color: #4CAF50;
   border-radius: 10px;
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
 }

 /* Thiết lập kiểu cho phần chưa tiến trình */
.grab_lecture_view_container_part1 #progress-bar::-webkit-progress-bar {
   /* background: linear-gradient(to right, #FF0000 0%-10%, white 100%); */
   background: gray;
   /* background-color: #ddd; */
   border-radius: 10px;
 }
.grab_lecture_view_container_part1 #progress-bar::-webkit-progress-value::after{
   content: "";
   position: absolute;
   right: -10px;
   top:-10px;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   background-color: gray;
 }